.dashboard{
    background: rgb(64,0,98);
    background: linear-gradient(90deg, rgba(64,0,98,1) 40%, rgba(128,4,29,1) 80%, rgba(255,158,0,1) 100%);
}
.footer{
    background: rgb(64,0,98);
    background: linear-gradient(90deg, rgba(64,0,98,1) 40%, rgba(128,4,29,1) 80%, rgba(255,158,0,1) 100%);
}
footer p {
    font-size: 12px;
}
body > div > div :nth-child(2) h3{
    color: #ff9e00;
    font-weight: bold;
}
.logo{
    width: 50%;
}