.dashboard{
    background: rgb(139,139,142);
    background: linear-gradient(90deg, rgba(139,139,142,1) 0%, rgba(146,155,159,1) 20%, rgba(160,189,195,1) 80%, rgba(0,212,255,1) 100%);
}
.footer{
    background: rgb(139,139,142);
    background: linear-gradient(90deg, rgba(139,139,142,1) 0%, rgba(146,155,159,1) 20%, rgba(160,189,195,1) 80%, rgba(0,212,255,1) 100%);
}
footer p {
    font-size: 12px;
}